@{
    ViewData["Title"] = "Wypożyczalnia gier komputerowych";
}

<div class="jumbotron" style="background-color:#dc7a34;">
    <h1>Witaj w wypożyczalni gier komputerowych Optimus!</h1>
    <h2>Menu:</h2>
    <ul class="float-left">
        <li>
            <h3> @Html.ActionLink("Gry w wypożyczalni", "GetAllGames", "Home")</h3>
        </li>
        <li>
            <h3> @Html.ActionLink("Informacje o grach", "InformationOfGames", "Home")</h3>
        </li>
        <li>
            <h3> @Html.ActionLink("Cena za wypożyczenie", "GetListOfNames", "Home")</h3>
        </li>
        <li>
            <h3> @Html.ActionLink("Wypożycz gre", "Index", "LendGame")</h3>
        </li>
        <li>
            <h3> @Html.ActionLink("Prześlij opinię", "Index", "Opinion")</h3>
        </li>
        <li>
            <h3> @Html.ActionLink("Kontakt", "Contact", "Home")</h3>
        </li>
    </ul>
    <div class="float-left col-md-4">
            <img src="~/images/optimus.jpg" alt="Optimus" />
    </div>
    <div style="clear:both;"></div>
</div>