@model List<AdamBednorzZadanieDomowe6.Models.Entities.Game>

@{
    ViewData["Title"] = "Wypożyczalnia gier komputerowych";
}

<h1>Nasze gry w wypożyczalni:</h1>

<!--Zostana wyświetlone wszystkie kafelki z grami-->
@foreach (var game in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4 float-left">
        <div class="img-thumbnail">
            <img src="@Url.Content(game.PhotoPath)" alt="@game.Name" />
            <div class="figure-caption">
                <h4>Gra: @game.Name</h4>
                <h5>Producent: @game.Producer</h5>
                <h5>@Html.ActionLink("Opis", "InformationOf"+game.Name, "Home")</h5>
            </div>
        </div>
    </div>
}
<div style="clear:both;"></div>
